.event-item {
    grid-column: span 3;
    border: 1px solid #778089;
    border-radius: 5px;
    padding: 10px 10px 55px;
    position: relative;
    picture {
        
        display: block;
        margin: -10px -10px 0;
        img {
            object-fit: cover;
            height: 190px;
            border-radius: 5px;

            @media (max-width: 1440px){
                height: 159px;
            }
            @media (max-width: 1440px){
                height: 243px;
            }
            @media (max-width: 768px){
                height: 200px;
            }
            
            
        }
    }
    &__category {
        @include textEllipsis();

        font-weight: bold;
        color: #778089;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        margin: 15px 0 10px;
    }
    &__title {
        @include textEllipsis();
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 10px;
    }
    @media (max-width: 960px){
        grid-column: span 6;
    }
    @media (max-width: 640px){
        grid-column: span 12;
    }
}
.near-event-item {
    padding-bottom: 10px;
    &__footer {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #778089;
    }

    @media (max-width: 768px){
        grid-column: span 12;
      
        padding: 0;
        border: none;

        picture {
            margin: 0;
            float: left;
            margin-right: 10px;
            img {
                width: 69px;
                height: 46px;
            }
        }

        .event-item__title {
            font-weight: bold;
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 0;

            @include textEllipsis(1)
        }
        .event-item__category {
            display: none;
        }
        &__footer {
            font-weight: 500;
            font-size: 16px;
            line-height: 140%
        }
    }
}

.icon-text {
    display: block;
    color: #778089;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;

    @include textEllipsis(1);


    &:before {
        position: absolute;
        left: 0;
        top: -2px;
        font-family: "icons";
       
    }

    &__date {
        @include textEllipsis(2);
        &:before {
            content: "\e80f"
        }
    }
    &__location {

        &:before {
            content: '\e805';
        }
    }
    &__price {
        &:before {
            content: '\e80e';
        }
    }
    
}

.buy-ticket {
    display: inline-block;
    background: #ED1F24;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    padding: 14px 20px 11px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: .1s linear;
    &:active {
        transform: scale(.95);
    }

    &:hover {
        background: #EB6A79;
    }
}