.events {

    &__items {
        padding: 20px 0;
        &.grid {
            grid-row-gap: 20px!important;
            grid-auto-rows: 1fr
        }
    }
    
    .grid {
        grid-row-gap: 18px;
    }
    &__title {
        display: flex;
        justify-content: space-between;
        padding: 20px 0 0;
        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 23px;
        }
        a {
            font-weight: bold;
            font-size: 16px;
            line-height: 15px;
            color: #ED1F24;
        }
    }

    &__tags {
        padding-top: 7px;
        
        overflow-x: auto;
        overflow-y: hidden;
        @include hideScroll();
        
        
        &-inner {
            min-width: max-content;
            padding-right: 20px;
            display: flex;
            
            > span {
                padding: 3px 0 1px 5px;
                white-space: nowrap;
                background: #ED1F24;
                color: #fff;
                border-radius: 2px;
                font-weight: bold;
                
                line-height: 140%;
                display: inline-flex;
                margin-right: 5px;
                min-width: max-content;

                &.remove {
                    background: #F87071;
                }

                > span {
                    cursor: pointer;
                    &:after {
                        font-family: "icons";
                        color: #fff;
                        content: '\e806';
                        padding: 10px;
                        font-size: 8px;
                    }
                }
            }
        }
    }

    &__main {
        position: relative;

        &:after {
            content: "";
            display: block;
            position: absolute;
            right: -1px;
            top: 0;
            bottom: -5px;
            width: 12px;
            background: #fff;
            box-shadow: -6px 0px 4px #FFFFFF;
        }


        grid-column: span 9;
        max-width: 100%;
    }
    .multiselector,
    .value-slider {
        grid-column: span 3;
    }

    @media (max-width: 960px){
        .grid {
            grid-row-gap: 10px;
        }
    }

    @media (max-width: 960px){
        &__main {
            grid-column: span 8;
        }
        .multiselector,
        .show-events-on-map,
        .value-slider {
            grid-column: span 4;
        }
    }
    @media (max-width: 768px){
        &__main {
            grid-column: span 12;
        }
        .multiselector,
        .show-events-on-map,
        .value-slider {
            grid-column: span 6;
        }
    }
    @media (max-width: 640px){
        .multiselector,
        .show-events-on-map,
        .value-slider {
            grid-column: span 12;
        }
    }
}

.show-more-events {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
        display: block;
        color: #ED1F24;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        padding: 12px 40px;
        border: 1px solid #E5E5E5;
        border-radius: 5px;
    }

    @media (max-width: 640px){
        a {
            width: 100%;
        }
    }
}

.show-events-on-map {
    grid-column: span 3;
    padding: 20px 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    cursor: pointer;

    @media (max-width: 960px){
        justify-content: flex-start;
    }
    &:before {
        content: "\e804";
        font-family: "icons";
        margin-right: 5px;
    }
}
