.footer {
    background: #121314;
    padding: 20px 10px;
    &__list {
        grid-column: span 3;
        ul {
            display: flex;
            flex-direction: column;
            padding: 8px 0 20px;

            li {
                margin-bottom: 15px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        a {
            font-weight: bold;
            font-size: 16px;
            line-height: 15px;
            color: #fff;
        }
    }

    &__title {
        color: #778089;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }

    &__bottom {
        grid-column: span 12;
        padding: 20px 0 0;
        border-top: 1px solid #778089;
    }
    
    &__copy {
        grid-column: span 2;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #778089;
    
    }
    &__logo {
        grid-column: span 9;
        background: url("../img/footer-logo.svg");
        background-repeat: no-repeat;
        background-size: 220px;
        height: 44px;
    }

    @media (max-width: 960px){
        &__list {
            grid-column: span 4;

            &--last {
                grid-column: span 12;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                grid-column-gap: 20px;

                div {
                    grid-column: span 4;
                    &:first-child {
                        
                    }
                    &:last-child {

                    }
                }
            }
        }
    }
    @media (max-width: 768px){
        &__copy {
            grid-column: span 4;
        
        }
        &__logo {
            grid-column: span 8 ;
        }
        &__list {
            &--last {


                div {
                    &:first-child {
                        padding-top: 10px;
                    }
                }
            }
        }
    }
    @media (max-width: 640px){
        &__list {
            grid-column: span 12;

            &--last {
                div {
                    grid-column: span 12;
                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        &__copy {
            grid-column: span 12;
            padding-top: 10px;
        
        }
        &__logo {
            grid-column: span 12;
        }
    }

}

.pyment-methods {
    padding: 8px 0 20px;
    display: flex;
    > span {
        display: block;
        width: 37px;
        height: 23px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__vaestro {
        background: url("../img/Vaestro.png")
    }
    &__visa {
        background: url("../img/Visa.png")
    }
    &__webmoney {
        background: url("../img/Webmoney.png")
    }
    &__mastercard {
        background: url("../img/Mastercard.png")
    }
}

.social {
    padding: 8px 0 20px;
    display: flex;
    > a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 37px;
        height: 37px;
        border: 1px solid #778089;
        border-radius: 5px;
        margin-right: 10px;

        &:after {
            font-family: "icons";
            color: #ED1F24;
            // content: "";
        }

        &:last-child {
            margin-right: 0;
        }
    }
    &__vk:after {
        content: '\e80d';
        font-size: 8px;
    }
    &__facebook:after {
        content: '\e80c';
        font-size: 13px;
    }
    &__instagram:after {
        content: '\e80b';
        font-size: 12px;
    }
}

