.location {
    width: 100%;
    grid-column: span 2;
    
    cursor: pointer;

    &-inner {
        display: flex;
        align-items: center;
        
        > div {
            @include textEllipsis(2);
            line-height: 120%;
        }

        &:before {
            font-size: 15px;
            font-family: "icons";
            content: '\e805';
            display: inline-block;
            margin-right: 10px;
        }
    }
    @media (max-width: 1440px){
        grid-column: span 3;
    }
    @media (max-width: 1024px){
        grid-column: span 4;
    }
    @media (max-width: 768px){
        grid-column: span 5;
    }
    @media (max-width: 640px){
        grid-column: 1 / span 7;
    }
    @media (max-width: 600px){
        grid-column: span 12;
        grid-row-start: 3;
        padding: 10px 0;
    }
}