.main-menu-container {
    grid-column: span 12;
}
.main-menu {
    display: flex;
    padding: 5px 0 0;
    margin: 0 -5px;

    li > a {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 18px;
        line-height: 17px;
        padding: 15px;
    }

    > li.main-menu-drop {
        position: relative;
       
        a {
            position: relative;
            z-index: 99;
            
            
            &:after {
                font-family: "icons";
                content: "\e809";
                color: #ED1F24;
                font-size: 8px;
                margin-left: 10px;

            }
        }

        > ul {
            opacity: 0;
            pointer-events: none;
            transition: .1s linear;
            padding: 5px 0;
            background: #fff;
            top: 0;
            transform: translate(0, 5px);
            padding-top: 43px;
            position: absolute;
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
            border-radius: 5px;
            width: 100%;
            min-width: 220px;
            
            a {
                transition: .1s linear background;
                padding: 10px 15px;

                &:hover {
                    background: #FEF3F4;
                    color: #ED1F24;
                }
                &:after {
                    content: none;
                }
            }
        }

        &--more {
            // display: none;

            &.show {
                display: inline-block;
            }

            > ul {
                top: auto;
                right: 0;
                
                padding-top: 5px;

                ul {
                    a {
                        padding-left: 25px;
                    }
                }
            }

            &.active {ul {}}
        }

        &.active {
            a {
                &:after {
                    content: "\e80a";
                }
            }
            > ul {
                opacity: 1;
                pointer-events: auto;
                transform: translate(0, 0);

                a:after {
                    content: none;
                }
            }
        }
    }
    @media (max-width: 640px){
        display: none;
    }
}



.MORE {
    display: none;
    > ul > li {
        display: none
    }
}

@media (max-width: 1280px){
    .MORE {
        display: block;

        .SHOW1 {
            display: block
        }
    }
    
    .HIDE1 {
        display: none;
    }
}

@media (max-width: 935px){
    .MORE {
        .SHOW2 {
            display: block
        }
    }
    .HIDE2 {
        display: none;
    }
}