.header {
    background: #fff;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.06);

    // При открытии различных попапов, чтобы показывать логотип

    @media (max-width: 720px){
        &.active-popup {
            position: static;

            .header__logo {
                min-width: 140px;
            }
            .header__logo, .burger {
                position: fixed;
                top: 14px;
                z-index: 99999;
            }
        }
    }

    &__top-menu-drop {
        position: relative;
        > a{
            position: relative;
            z-index: 9999;
        }

    
        &.active > ul{
            top: -2px;
            opacity: 1;
            pointer-events: auto;
        }
        ul {
            transition: .1s linear;
            position: absolute;
            padding-top: 32px;
            top: -2px;
            left: -10px;
            right: 0;
            opacity: 0;
            pointer-events: none;
            background: #fff;
            box-shadow: 0px 0px 12px rgba(0,0,0,0.24);
            border-radius: 5px;
            z-index: 999;

           > li > a {
                display: flex;
                width: 100%;
                padding: 10px 15px;
                margin-right: 0;
                transition: .1s linear;
                &:hover {
                    background: #FEF3F4;
                    color: #ED1F24;
                }
            }
        }
    }

    

    &__top-menu-drop.login-link {
        margin-left: 10px;
        > a {
            position: relative;
            padding-left: 30px;

            &:after {
                font-family: "icons";
                content: "\e809";
                color: #ED1F24;
                font-size: 8px;
                margin-left: 10px;

            }
        }
       
        &.active {
            > a {
                &:after {
                    content: "\e80a";
                }
            }
        }
        a {
            margin-left: 0;
        }
        .login-link__img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            border-radius: 50%;

            position: absolute;
            left: 0;
            top: 3px;
        }
        @media (max-width: 750px){
            margin-left: 0;
            .login-link__img { 
                left: auto;
                right: 0;
            }
            > a {
                padding-right: 30px;
                padding-left: 0;
                span {
                    display: none;
                }
                
            }
            ul {
                right: 0;
                left: auto;
                width: 100px;
            }
        }
    }

    &__top-section {
        display: flex;
        justify-content: space-between;
        grid-column: span 12;
        background-color: #F7F7F7;
    }

    &__top-menu {
        display: flex;
        padding: 0 5px;
        
        li  {
            &:first-child a {
                margin-left: 0;
            }
            &:last-child a {
                margin-right: 0;
            }
            > a {
                display: inline-flex;
                font-weight: bold;
                
                line-height: 13px;
                padding: 8px 5px 5px;
                margin: 0 5px;
                width: max-content;

                &.flag {
                    align-items: center;
                }
            }
        }

        i {
            line-height: .8;
            margin-right: 5px;
        }

        &--right { justify-content: flex-end;}
    }

    &__middle {
        grid-column: span 12;
        padding: 15px 10px 0;
        display: flex;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 20px;

        @media (min-width: 540px){
            position: relative
        }
    }

    &__logo {
        grid-column: span 2;
        display: inline-block;
        background-image: url("../img/header-logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        height: 44px;

    }

    &__border-line {
        grid-column: span 10;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: 20px;
        width: 100%;
        border-bottom: 1px solid #F7F7F7;
    }

    &__search-form {
        grid-column: span 2;

        @media (min-width: 540px){
            position: relative
        }

        &-input {
            font-size: 14px;
            border: 1px solid #D7DADD;
            border-radius: 5px;
            padding: 9px 30px 8px 15px;
            width: 100%;
            transition: .1s linear border-color;
            caret-color: #ED1F24;
            font-weight: bold;
            line-height: 140%;
            margin-top: -4px;

            &::placeholder {
                font-weight: normal;
            }

            &:focus {
                border-color: #778089;
            }

            background-image: url("../img/search.svg");
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
        }
    }

    

    @media (max-width: 1440px){
        &__search-form {
            grid-column: span 3;
        }
    }

    @media (max-width: 1024px){
        &__search-form {
            grid-column-start: -1;
            grid-column-end: -5;
        }
        &__logo {
            grid-column: span 3;
        }
        &__border-line {
            grid-column: span 9;
            grid-template-columns: repeat(9, 1fr)
        }
        
    }
    @media (max-width: 768px){
        &__search-form {
            grid-column: span 4;
        }
        &__logo {
            grid-column: span 3;
        }
    }
    .burger {
        display: none;
        margin-top: 4px;
        
        .hamburger {
            margin-left: 10px;
        }
    }

    @media (max-width: 720px){
        box-shadow: none;

        padding: 14px 10px 5px;

        &__top-menu--right { 
            li {
                &.burger {
                    display: inline-block;
                }
            }
        }

        &__top-section,
        &__middle,
        &__border-line {
            display: contents;
        }
        &__top-menu--left {
            display: none
        }

        &__logo {
            grid-column: 1 / span 4;
            grid-row-start: 1;
            background-size: 140px;
        }
        &__top-menu--right {
            grid-column: 5 / span 8
        }
        &__search-form {
            grid-column: 8 / span 5;
        }
         &__main-menu {
            display: none;
        }
    }

    

    @media (max-width: 600px){
       

        &__logo {
            min-width: 140px;;
            background-size: 140px;
            grid-column: 1 / span 7;
        }
        &__top-menu--right { 
            grid-column: 9 / span 4;
            li {
                display: none;

                &.login-link {
                    display: inline-flex;
                }
                
            }
        }
        &__search-form {
            grid-column: span 12;
        }
    }
}