$LocationPopupHeight: 664px;

.location-popup {
    padding: 0 10px;
    z-index: 99999;

    // Высота окна задается для двух элементов __content и самого окна
    &__content {
        margin: 0 -10px;
        padding: 0 10px;    
        max-height: $LocationPopupHeight - 90px;
        overflow-y: scroll;
    }
    @media (min-width: 813px){
        height: auto;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 70px;
        left: 10px;
        width: 380px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
        border-radius: 5px;

        &.active {
            opacity: 1;
            pointer-events: auto;

            max-height: $LocationPopupHeight;
        }
    }

    // Когда окно упирается в край
    @media (max-height: 780px) and (min-width: 813px){
        &.active {
            max-height: calc(100vh - 115px);
        }
        &__content {
            max-height: calc(100vh - (115px + 90px));
        }
    }
    @media (max-width: 813px){
        &.active {
            max-height: 100vh;
            overflow: hidden;
        }
        &__content {
            max-height: calc(100vh - 104px);
        }
    }

    &__places {
        margin: 0 -10px;

        .location-popup__title {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &__location-label {
        padding: 10px 0 20px;
        font-weight: 500;
        line-height: 13px;
    }
    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 5px;
    }

    .location-tags {
        display: flex;
        position: relative;
        padding: 10px 0;
        border-bottom: 2px solid #000;

        &__close {
            position: absolute;
            right: 0;
            top: 5px;
            padding: 10px;
            cursor: pointer;
            
            &:before {
                font-family: "icons";
                color: #ED1F24;
                content: '\e806';
                
            }
        }

        &__input {
            display: flex;
            width: calc(100% - 35px);
            
            overflow-y: hidden;
      
            > span {
                display: inline-block;
                padding: 3px 0 1px 5px;
                white-space: nowrap;
                background: #ED1F24;
                color: #fff;
                border-radius: 2px;
                font-weight: bold;
                
                line-height: 140%;
                display: inline-flex;
                margin-right: 5px;
                min-width: max-content;

                &.remove {
                    background: #F87071;
                }

                > span {
                    cursor: pointer;
                    &:after {
                        font-family: "icons";
                        color: #fff;
                        content: '\e806';
                        padding: 10px;
                        font-size: 8px;
                    }
                }
            }

            @include hideScroll();
        }

        &__done {
            display: none;
        }
        
        @media (max-width: 813px){
            border: none;
            &__input {
                padding: 7px;
                
                border-radius: 5px;
                border: 1px solid #778089;
            }

            &__close {
                display: none;
            }
            &__done {
                display: inline-block;
                font-weight: bold;
            
                line-height: 140%;
                padding: 10px 0 10px 8px;
            }
        }
    }
    &__included {
        margin: 0 -10px;
    }
}

.distance-slider {
    padding: 20px 0 25px;
    &__track {
        height: 2px;
        background:#D7DADD;
        position: relative;
    }

    &__slider {
        position: absolute;
        width: 24px;
        height: 24px;
        border: 2px solid #D7DADD;
        
        border-radius: 50%;
        top: - 12px;
        background: #fff;
        padding: 4px;

        span {
            display: inline-block;
            background: #ED1F24;
            width: 12px;
            height: 12px;
            border-radius: 50%
        }
    }

    &__numbers {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        
        padding: 20px 4px 0;

        span {
            color: #778089;

            &.active {
                color: #ED1F24;
            }
        }
    }
}