.mobile-popup.mobile-menu {
    padding-top: 52px;
    opacity: 0;
    pointer-events: none;
    z-index: 9999;

    @media (max-width: 720px) {
        &.active {
            pointer-events: auto;
            opacity: 1;
        }
    }    
}
.popup-menu {
    max-height: calc(100vh - 52px);
    overflow: scroll;
    
    a {
        display: flex;
        font-weight: bold;
        line-height: 13px;
        padding: 10px;
        border-bottom: 1px solid #F7F7F7;
        transition: .1s linear background;

        &.flag {
            position: relative;
            padding-left: 35px;
            &:before {
                position: absolute;
                left: 10px;
                
            }
        }

        i {
            line-height: .8;
            margin-right: 5px;
        }
    }
    li:last-child a {
        border-bottom: none;
    }

    &__drop {
        &.active > a {
            background: #FEF3F4;
        }
        a {
            justify-content: space-between;
           
            &:after {
                font-family: "icons";
                content: "\e809";
                font-size: 10px;
                color: #ED1F24;
            }
        }
        &.active a:after {
            content: "\e80a";
        }

        &--language {
            display: flex;
            flex-direction: column;
            ul {
                order: -1;
                padding: 0!important;
            }
        }
    }

    ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height .4s, padding-top .3s, padding-bottom .3s;
        padding: 0 20px;
        border-bottom: 1px solid #F7F7F7;
        a {
            border-bottom: none;
            &:after{ 
                content: none!important;
            }
        }
    }
    &__drop.active {
        &.popup-menu__drop--language {
            ul {
                padding: 0;
            }
        }
        ul {
            padding: 10px 20px;
            max-height: 400px;
        }
    }
}