.multiselector {
    display: inline-block;
    min-width: 224px;

    padding: 8px 20px 10px;
    border: 1px solid #D7DADD;
    border-radius: 5px;
    cursor: pointer;
    position: relative;


    &:after {
        font-family: "icons";
        content: "\e809";
        position: absolute;
        right: 20px;
        top: 23px;
        color: #ED1F24;
        font-size: 10px;
    }

    &.active:after {
        content: "\e80a";
    }
    
    &.active {
        border-color: transparent;
        z-index: 99;
    }

    &__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #778089;
        text-transform: uppercase;

    }

    &__category {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #121314;
        margin-top: 4px;     
    }

    &.active &__label,
    &.active &__category {
        position: relative;
        z-index: 99;
    }

    &__list {
        
        opacity: 0;
        pointer-events: none;

        position: absolute;
        left: 0;
        right: 0;
        top: 10px;
        padding-top: 56px;
        padding-bottom: 10px;
        background: #fff;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        transition: .1s linear;
    }

    &.active &__list {
        top: 0;
        opacity: 1;
        pointer-events: auto;
    }
}