// .hamburger.is-active {
//     position: relative;
//     z-index: 99;
// }
.mobile-popup {
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: .15s linear opacity;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow-y: hidden;

    background: #fff;

    @media (max-width: 813px){
       
        &.active {
            pointer-events: auto;
            opacity: 1;
        }
    }
}



