.recently-viewed-section {
    padding-top: 20px;
    padding-bottom: 26px;
    
    width: 100%; // Тупая мозила требует этого...

    .title {
        margin-bottom: 20px;
    }
}

.recently-viewed {

    @include hideScroll();
    
    @media (max-width: 960px){
        margin: 0 -10px;
        overflow-x: auto;
        &__inner {
            padding: 0 10px;
            width: 1200px;
        }
    }
    @media (max-width: 640px){
        &__inner {
            grid-column-gap: 10px;
        }
    }
}

.recently-viewed-item {
    position: relative;
    grid-column: span 2;

    
    picture img {
        display: block;
        width: 100%;
        height: 121px;
        border-radius: 5px;
        object-fit: cover;
        margin-bottom: 10px;

        @media (max-width: 768px){
            height: 93px;
        }
    }

    a {
        @include textEllipsis();
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        color: #121314;
    }

    &__category {
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #778089;
    }

    &__remove {
        position: absolute;
        top: 10px;
        right: 10px;
        background: rgba(0,0,0, .2);
        border-radius: 50%;
        width: 21px;
        height: 21px;
        text-align: center;
        transition: .1s linear;

        &:hover {
            cursor: pointer;
            background: rgba(0,0,0, .6);
            transform: scale(1.2);
        }
        &:active {
            transform: scale(1.1);
        }

        &:after {
            font-family: "icons";
            color: #fff;
            font-size: 10px;
            line-height: 21px;
            content: "\e806"
        }
    }
}