$searchPopupHeight: 774px;

.search-popup {
    z-index: 9999;
    &__inner {
        position: relative;
        padding: 10px;
        color: #121314;
        max-height: 100%;
    }
    // Десктоп
    @media (min-width: 813px) {
        height: auto;
        max-width: none;
        position: absolute;
        top: -14px;
        left: auto;
        right: -10px;
        width: 400px;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.24);
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;

        &.active {
            opacity: 1;
            pointer-events: auto;
        }  
    }

    // Десктоп, фиксация по высоте
    @media (max-height: 800px) and (min-width: 813px){
        max-height: calc(100vh - 46px);
    }

    @media (min-width: 1025px){
        left: -10px;
        right: auto;
        width: 400px;
    }

}

.search-result {
    padding-right: 10px;

    overflow: scroll;
    max-height: calc(100vh - 68px);
    // Десктоп
    @media (min-width: 813px) {
        max-height: $searchPopupHeight - 78;
        // overflow: scroll;
    }
    //Фиксация по высоте
    @media (max-height: 800px) and (min-width: 813px){
        max-height: calc(100vh - (128px));
    }


    &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 140%;
        padding: 14px 0 10px;
    }

    &__more {
        display: block;
        background: #ED1F24;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #fff;
        padding: 14px 10px 11px;

        @media (max-width: 640px){
            margin-bottom: 10px;
        }
    } 
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #778089;

    &__poster {
        display: block;
        margin-right: 10px;
        width: 72px;
        height: 48px;
        object-fit: cover;
        border-radius: 5px;
    }
    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 120%;
        color: #121314;
        @include textEllipsis()
    }
}

.search-popup {

    &__input {
        border: 1px solid #D7DADD;
        border-radius: 5px;
        padding: 9px 30px 8px 15px;
        width: calc(100% - 41px);
        transition: .1s linear border-color;
        caret-color: #ED1F24;
        font-weight: bold;
        line-height: 140%;
        font-size: 14px;
        &::placeholder {
            font-weight: normal;
        }

        &:focus {
            border-color: #778089;
        }

        background-image: url("../img/search.svg");
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) center;

        &-wrap {
            background: #fff;
            padding-bottom: 10px;
        }

        &-close {
            cursor: pointer;
            position: absolute;
            display: inline-block;
            width: 53px;
            height: 57px;
            background-image: url("../img/close.svg");
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
            right: 0;
        }
    }

    &__not-fount {
        padding: 10px 0;
        font-weight: normal;
        line-height: 140%;
        color: #778089;

        span {
            font-weight: bold;
            color: #ED1F24;
        }
        @media (min-width: 540px){
            padding-top: 90px;
            background-image: url(../img/search2.svg);
            background-position: 0 10px;
            background-size: 64px;
            background-repeat: no-repeat;
        }
    }
}