.value-slider {
    display: inline-block;
    min-width: 224px;

    padding: 8px 20px 10px;
    border: 1px solid #D7DADD;
    border-radius: 5px;

    &__label {
        font-weight: 500;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #778089;
        text-transform: uppercase;
    }

    &__number {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #121314;
        margin-top: 4px;     
    }
}