<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.iframehelper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>

<script>
  const toolbar = {
    cursorcolor:"#ED1F24",
    cursorwidth:"5px",
    background:"#F7F7F7",
    cursorborder: "none",
    cursorborderradius: "5px",
    railpadding: { top: 0, right: 0, left: 0, bottom: 0 }
  }

  $(".search-result").niceScroll(toolbar);
  $(".location-popup__content").niceScroll(toolbar);
</script>
<script src="js/core.min.js"></script>