body {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;

    padding-top: 138px;
    
    @media (max-width: 640px){
        padding-top: 97px;
    }
    @media (max-width: 600px){
        padding-top: 145px;
    }

    &.disable-scroll {
        height: 100vh;
        overflow: hidden;
    }

}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
}

.content-wrap {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 23px;
}



.checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: .1s linear;
    cursor: pointer;

    &:hover {
        background: #FEF3F4;
    }

    &__text {
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
    }

    &__title {
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
    }

    &__figure {
        min-width: 20px;
        min-height: 20px;
        transition: .1s linear;
        border-radius: 4px;
    }

    &.alt &__figure {
        margin-right: 15px;
        
        box-shadow: inset 0 0 0 3px  #fff, 0 0 0 1px #D7DADD;
    }

    input {
        pointer-events: none;
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    input:checked + &__figure{
        border-radius: 3px;
        background: #ED1F24;
        box-shadow: inset 0 0 0 3px  #fff, 0 0 0 1px #D7DADD;
        
    }

    &.alt {
        padding: 10px 20px;
        justify-content: flex-start;
    }

    &.alt &__text{
        font-weight: bold;
        font-size: 16px;
        line-height: 15px;
        color: #121314;
    }
}

