.icon {
    font-family: "icons";
    font-style: normal;
}

.icon-map:before { content: '\e804'; } /* '' */
.icon-pin:before { content: '\e805'; } /* '' */
.icon-close:before { content: '\e806'; } /* '' */
.icon-arrow-left:before { content: '\e807'; } /* '' */
.icon-arrow-right:before { content: '\e808'; } /* '' */
.icon-arrow-bottom:before { content: '\e809'; } /* '' */
.icon-arrow-top111:before { content: '\e80a'; } /* '' */
.icon-i:before { content: '\e80b'; } /* '' */
.icon-f:before { content: '\e80c'; } /* '' */
.icon-vk:before { content: '\e80d'; } /* '' */
.icon-price:before { content: '\e80e'; } /* '' */
.icon-date:before { content: '\e80f'; } /* '' */

.flag {
    display: inline-flex;
    align-items: flex-start;
    &:before {
        content: "";
        display: inline-block;
        min-width: 14px;
        min-height: 13px;
        
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 5px;
    }
    &--spain {
        &:before {
            background-image: url("../img/spain.svg");
        }
    }
    &--russian {
        &:before {
            background-image: url("../img/russian.svg");
        }
    }
    &--english {
        &:before {
            background-image: url("../img/england.svg");
        }
    }
}