@mixin textEllipsis($rows:2) {
  /*! autoprefixer: off */
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  display: -moz-box;
}

@mixin hideScroll {
  &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  &::-webkit-scrollbar-thumb {
      background: transparent;
  }
  scrollbar-width: none;

}