* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;
  outline: none;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #121314;
}

ul {
  list-style: none;
}