<section class="events">
    <div class="events__filters grid">
        <div class="events__main">
            <h1 class="title">Upcoming Events Near</h1>
            <div class="events__tags">
                <div class="events__tags-inner">
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Moscow1<span></span>
                    </span>
                </div>
            </div>
        </div>
        <go src="multiselector.html"/>
        <go src="multiselector.html"/>
        <go src="multiselector.html"/>
    </div>
    <div class="events__items grid">
        <go src="event-item.html" />
        <go src="event-item.html" />
        <go src="event-item.html" />
        <go src="event-item.html" />
    </div>
    <div class="show-more-events">
        <a href="#">Показать все расписание</a>
    </div>
</section>




<section class="events">
    <div class="events__filters grid">
        <div class="events__main">
            <h1 class="title">Upcoming Events Near</h1>
            <div class="events__tags">
                <div class="events__tags-inner">
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Saint Peterburg<span></span>
                    </span>
                    <span>
                        Moscow<span></span>
                    </span>
                    <span>
                        Moscow1<span></span>
                    </span>
                </div>
            </div>
        </div>
        <go src="multiselector.html"/>
        <go src="multiselector.html"/>
        <go src="multiselector.html"/>
        <go src="value-slider.html"/>
        <div class="show-events-on-map">Показывать карту</div>
    </div>
    <div class="events__title">
        <h3>Theatres</h3>
        <a href="#">Watch all</a>
    </div>
    <div class="events__items grid">
        <go src="near-event-item.html" />
        <go src="near-event-item.html" />
        <go src="near-event-item.html" />
        <go src="near-event-item.html" />
    </div>
    <div class="show-more-events">
        <a href="#">Показать все расписание</a>
    </div>
    <div class="events__title">
        <h3>Theatres</h3>
        <a href="#">Watch all</a>
    </div>
    <div class="events__items grid">
        <go src="event-item.html" />
        <go src="event-item.html" />
        <go src="event-item.html" />
        <go src="event-item.html" />
    </div>
    <div class="show-more-events">
        <a href="#">Показать все расписание</a>
    </div>
</section>