<article class="event-item">
    <picture>
        <img src="http://mnogoznay.ru/wp-content/uploads/2017/08/znacheni-slova-meropriyatie.jpg" alt="">
    </picture>
    <div class="event-item__category">
        MUSIC / ROCK / POP
    </div>
    <a href="#" class="event-item__title">
        Disturbed — Evolution World Tour with Marilyn Manson
    </a>
    <time class="icon-text icon-text__date">Friday, April 19, 2019, 11:00 PM</time>
    <div class="icon-text icon-text__location">Sala Razzmatazz</div>
    <div class="icon-text icon-text__price">Free</div>
    <a href="#" class="buy-ticket">Buy ticket</a>
</article>

<article class="event-item">
    <picture>
        <img src="http://mnogoznay.ru/wp-content/uploads/2017/08/znacheni-slova-meropriyatie.jpg" alt="">
    </picture>
    <div class="event-item__category">
        MUSIC / ROCK / POP
    </div>
    <a href="#" class="event-item__title">
        Disturbed — Evolution World Tour with Marilyn Manson
    </a>
    <time class="icon-text icon-text__date">Friday, April 19, 2019</time>
    <div class="icon-text icon-text__location">Sala Razzmatazz</div>
    <div class="icon-text icon-text__price">Free</div>
    <a href="#" class="buy-ticket">Buy ticket</a>
</article>
