<footer class="footer grid">
    <div class="footer__list">
        <div class="footer__title">
            Information
        </div>
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Section for partners</a></li>
            <li><a href="#">Section for users</a></li>
            <li><a href="#">Privacy policy</a></li>
        </ul>
    </div>
    <div class="footer__list">
        <div class="footer__title">
            FOR BUYERS
        </div>
        <ul>
            <li><a href="#">Adding events</a></li>
            <li><a href="#">Adding tickets</a></li>
            <li><a href="#">Ticket sale</a></li>
            <li><a href="#">Receipt of money</a></li>
        </ul>
    </div>
    <div class="footer__list">
        <div class="footer__title">
            FOR SELLERS
        </div>
        <ul>
            <li><a href="#">How to buy tickets</a></li>
            <li><a href="#">Guarantees</a></li>
        </ul>
        <div class="footer__title">
            FOR PARTNERS
        </div>
        <ul>
            <li><a href="#">Add site</a></li>
        </ul>
    </div>

    <div class="footer__list footer__list--last">
        <div>
            <div class="footer__title">
                WE ACCEPT PAYMENT
            </div>
            <div class="pyment-methods">
                <span class="pyment-methods__vaestro"></span>
                <span class="pyment-methods__visa"></span>
                <span class="pyment-methods__webmoney"></span>
                <span class="pyment-methods__mastercard"></span>
            </div>
        </div>
        <div>
        <div class="footer__title">
            SOCIAL MEDIA
        </div>
        <div class="social">
            <a href="#" class="social__vk"></a>
            <a href="#" class="social__facebook"></a>
            <a href="#" class="social__instagram"></a>
        </div>
    </div>
    </div>

    <div class="footer__bottom grid">
        <div class="footer__logo"></div>
        <div class="footer__copy">
            &copy; 2019 Ticketeria All right reserved
        </div>
    </div>
</footer>