<nav class="main-menu-container">
    <ul class="main-menu">
        <li class="main-menu-drop">
            <a href="#">Theatres & Concerts</a>
            <ul>
                <li><a href="#">Clubs</a></li>
                <li><a href="#">Pubs</a></li>
                <li><a href="#">Partys</a></li>
            </ul>
        </li>
        <li><a href="#">Football</a></li>
        <li><a href="#">Sport</a></li>

        <li class="HIDE2"><a href="#">Festivals</a></li>
        <li class="HIDE2 main-menu-drop">
            <a href="#">Activities</a>
            <ul>
                <li><a href="#">Clubs</a></li>
                <li><a href="#">Pubs</a></li>
                <li><a href="#">Partys</a></li>
            </ul>
        </li>
        <li class="HIDE2"><a href="#">Cinema</a></li>
        <li class="HIDE1"><a href="#">With children</a></li>
        <li class="HIDE1"><a href="#">Corrida</a></li>
        <li class="main-menu-drop HIDE1">
            <a href="#">Night life</a>
            <ul>
                <li><a href="#">Clubs</a></li>
                <li><a href="#">Pubs</a></li>
                <li><a href="#">Partys</a></li>
            </ul>
        </li>
        
        <li class="main-menu-drop main-menu-drop--more MORE">
            <a href="#">More</a>
            <ul>
                <li class="SHOW2"><a href="#">Festivals</a></li>
                <li class="SHOW2 main-menu-drop">
                    <a href="#">Activities</a>
                    <ul>
                        <li><a href="#">Clubs</a></li>
                        <li><a href="#">Pubs</a></li>
                        <li><a href="#">Partys</a></li>
                    </ul>
                </li>
                <li class="SHOW2"><a href="#">Cinema</a></li>
                <li class="SHOW1"><a href="#">With children</a></li>
                <li class="SHOW1"><a href="#">Corrida</a></li>
                <li class="main-menu-drop SHOW1">
                    <a href="#">Night life</a>
                    <ul>
                        <li><a href="#">Clubs</a></li>
                        <li><a href="#">Pubs</a></li>
                        <li><a href="#">Partys</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>