<header class="header grid">
    <div class="header__top-section">
        <ul class="header__top-menu header__top-menu--left">
            <li><a href="#">All Events</a></li>
            <li><a href="#">All Venues</a></li>
            <li><a href="#"><i class="icon icon-map"></i> See on map</a></li>
        </ul>
        <ul class="header__top-menu header__top-menu--right">
    
            <li class="header__top-menu-drop">
                <a href="#" class="flag flag--spain">Castellano</a>
                <ul>
                    
                    <li><a href="#" class="flag flag--spain">Castellano</a></li>
                    <li><a href="#" class="flag flag--spain">Castellano</a></li>
                </ul>
            </li>
            <li><a href="#">+ Agregar un evento</a></li>
    
            <!-- <li class="login-link"><a href="#">Login</a></li> -->
            <li class="login-link header__top-menu-drop">
                
                <a href="#">
                    <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" 
                    alt="" class="login-link__img">

                    <span>Vyacheslau</span>
                </a>
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Tickets</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Venues</a></li>
                    <li><a href="#">Log out</a></li>
                </ul>
            </li>

            <li class="burger">
                <span class="hamburger hamburger--squeeze" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="header__middle">

        <a class="header__logo" href="/"></a>

        <div class="header__border-line">
            <div class="location">
                <div class="location-inner">
                    <!-- контент должен быть обязательно в блоке -->
                    <div>
                        Saint Petersburg, Boston, New York, Lappeenranta, else 3, + 160 km
                    </div>
                    <!-- /контент должен быть обязательно в блоке -->
                </div>
            </div>
            <div class="header__search-form">
                <input class="header__search-form-input" type="text" placeholder="Event name or location">
                <go src="popup__search.html"></go>
            </div>
        </div>
        <go src="popup__location.html"></go>
    </div>
    <go src="header__menu.html"></go>
</header>
<go src="popup__menu.html"></go>