<div class="multiselector">
    <div class="multiselector__label">
       Категория
    </div>
    <div class="multiselector__category">
        Любая
    </div>
    <div class="multiselector__list">

        <label class="checkbox alt">
            <input type="checkbox" >
            <div class="checkbox__figure"></div>
            <div class="checkbox__text">Theatres & Concerts</div>
        </label>
        <label class="checkbox alt">
            <input type="checkbox" >
            <div class="checkbox__figure"></div>
            <div class="checkbox__text">Football</div>
        </label>
        <label class="checkbox alt">
            <input type="checkbox" checked>
            <div class="checkbox__figure"></div>
            <div class="checkbox__text">Sport</div>
        </label>
        <label class="checkbox alt">
            <input type="checkbox" >
            <div class="checkbox__figure"></div>
            <div class="checkbox__text">Night life</div>
        </label>
        <label class="checkbox alt">
            <input type="checkbox" checked>
            <div class="checkbox__figure"></div>
            <div class="checkbox__text">Festivals</div>
        </label>

    </div>
</div>