<article class="event-item near-event-item">
    <picture>
        <img src="https://www.classicalmusicnews.ru/wp-content/uploads/2015/10/theatre_interior.jpg" alt="">
    </picture>
    <div class="event-item__category">
        ARTS & THEATRE
    </div>
    <a href="#" class="event-item__title">
        Disturbed — Evolution World Tour with Marilyn Manson
    </a>
    <div class="near-event-item__footer">
        23 events
    </div>
</article>