<div class="mobile-popup mobile-menu header-show">
    <ul class="popup-menu">
        <li class="popup-menu__drop">
            <a href="#">Theatres & Concerts</a>
            <ul>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
            </ul>
        </li>
        <li><a href="#">Football</a></li>
        <li><a href="#">Sport</a></li>
        <li class="popup-menu__drop">
            <a href="#">Night life</a>
            <ul>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
            </ul>
        </li>
        <li><a href="#">Festivals</a></li>
        <li class="popup-menu__drop">
            <a href="#">Activities</a>
            <ul>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
                <li><a href="#">Subcategory</a></li>
            </ul>
        </li>
        <li><a href="#">Cinema</a></li>
        <li><a href="#">With children</a></li>
        <li><a href="#">Corrida</a></li>
        <li><a href="#">Other</a></li>
        <li><a href="#">All Events</a></li>
        <li><a href="#">All Venues</a></li>
        <li><a href="#"><i class="icon icon-map"></i>See on map</a></li>
        <li><a href="#">+ Agregar un evento</a></li>
        <li class="popup-menu__drop popup-menu__drop--language">
            <a href="#" class="flag flag--spain">Castellano</a>
            <ul>
                <li><a href="#" class="flag flag--english">English</a></li>
                <li><a href="#" class="flag flag--russian">Русский</a></li>
                <li><a href="#" class="flag flag--spain">Castellano</a></li>
            </ul>
        </li>
    </ul>
</div>