<div class="mobile-popup location-popup full">
    <div class="location-tags">
        <span class="location-tags__close close-location"></span>
        <div class="location-tags__input">
            <span>
                Saint Peterburg<span></span>
            </span>
            <span>
                Saint Peterburg<span></span>
            </span>
            <span class="remove">
                Moscow<span></span>
            </span>
        </div>
        <a href="#" class="location-tags__done close-location">Done</a>
    </div>
    <div class="location-popup__location-label">
        <a href="#"><i class="icon icon-map"></i> Current location</a>
    </div>
    <div class="location-popup__content">
        <div class="location-popup__title">
            Already included + 160 km
        </div>
        
        <!-- Сюда помещаются уже добавленные места -->
        <div class="location-popup__included">
            <label class="checkbox">
                <div class="checkbox__text">Saint Peterburg, Russia</div>
                <input type="checkbox" checked>
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">Saint Peterburg, Russia</div>
                <input type="checkbox" checked>
                <div class="checkbox__figure"></div>
            </label>
        </div>

        <div class="distance-slider">
            <div class="distance-slider__track">
                <span class="distance-slider__slider">
                    <span></span>
                </span>
            </div>
            <div class="distance-slider__numbers">
                <span class="active">50</span>
                <span>100</span>
                <span>150</span>
                <span>200</span>
                <span>250</span>
            </div>
        </div>
        <div class="location-popup__places">
            <div class="location-popup__title">
                Add places near Saint Petersburg
            </div>

            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Moscow, Russia</div>
                    197 km away
                </div>
                <input type="checkbox" checked>
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Lappeenranta, Finland</div>
                    197 km away
                </div>
                <input type="checkbox" checked>
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Voronezh, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Kirov, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Pskov, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Pskov, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Krasnodar, Russia</div>
                    197 km away
                </div>
                <input type="checkbox" checked>
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Voronezh, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Kirov, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
            <label class="checkbox">
                <div class="checkbox__text">
                    <div class="checkbox__title">Pskov, Russia</div>
                    197 km away
                </div>
                <input type="checkbox">
                <div class="checkbox__figure"></div>
            </label>
        </div>
    </div>
</div>