<div class="result-item">
    <img class="result-item__poster" alt="103.5 Kiss FM’s Jingle Ball Presented" src="https://www.udiscovermusic.com/wp-content/uploads/2019/08/KISS-press-shot-01-CREDIT-Brian-Lowe-Universal-Music-Group.jpg">

    <div class="result-item__content">
        <div class="result-item__title">103.5 Kiss FM’s Jingle Ball Presented</div>
        Rock, April 23, 12:00
    </div>
</div>
<div class="result-item">
    <img class="result-item__poster" alt="103.5 Kiss FM’s Jingle Ball Presented" src="https://www.udiscovermusic.com/wp-content/uploads/2019/08/KISS-press-shot-01-CREDIT-Brian-Lowe-Universal-Music-Group.jpg">

    <div class="result-item__content">
        <div class="result-item__title">103.5 Kiss FM’s </div>
        Rock, April 23, 12:00
    </div>
</div>