<div class="mobile-popup search-popup full">
    <div class="search-popup__inner">

        <div class="search-popup__input-wrap">
            <input type="text" class="search-popup__input">
            <span class="search-popup__input-close"></span>
        </div>
        <!-- <div class="search-popup__not-fount">
                Nothing was found for your request<br>
                Try to type “<span>kiss</span>”
        </div> -->

        <div class="search-result">
            
                <div class="search-result__title">Artists, Teams & Attractions</div>
                


                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />
                <go src="popup__search-item.html" />

                
            
            <a href="#" class="search-result__more">
                See all results
            </a>
        </div>
    </div>
</div>