<section class="recently-viewed-section">

    <div class="title">
        Recently Viewed
    </div>
    <div class="recently-viewed">
        <div class="recently-viewed__inner grid">
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
            <div class="recently-viewed-item">
                <span class="recently-viewed-item__remove"></span>
                <picture>
                    <img src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg" alt="">
                </picture>
                <a href="#">Disturbed — Evolution World</a>
                <span class="recently-viewed-item__category">
                    Театры
                </span>
            </div>
        </div>
    </div>
</section>